@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,300&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

header{
  position: relative;
  z-index: 1000 !important;
}

.feature{
  position: relative;
  z-index: 100 !important;
}

.contact{
  position: relative;
  z-index: 100 !important;
}